body{
  text-align: center;
  justify-content: center;
  background: linear-gradient(to left, rgb(236, 104, 104), rgb(152, 152, 239));
}
#myForm{
  background: linear-gradient(to bottom, rgb(235, 218, 218),rgb(148, 148, 218));
  width: 45%;
  height: 100%;
  padding: 50px;
}
form{
  margin: auto;
}
label{
  padding: 10px;
}
button{
  padding: 50px;
  margin: 20px;
}
div{
  margin: 30px;
}
h1{
  color: rgb(3, 3, 106);
}

